@font-face {
    font-family: 'Open Sans';
    font-display: swap;
    src: local(''), url('/OpenSans.ttf');
}

* {
    box-sizing: border-box;
}

html {
    background-color: white;
    color: black;
    font-family: 'Open Sans', sans-serif;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5 {
    /* font-family: 'Open Sans', sans; */
    /* font-family: 'Eagle Lake', serif; */
}


header {
    font-size: 140%;
    text-align: center;
    width: 100%;
}
@media (max-width: 500px) {
    header {font-size: 120%;}
    main {margin-top:1rem;}
}

#logo {
    max-height: 15rem;
    max-width: 15rem;
    border-radius: 100%;
    margin: 1rem auto;
    overflow: hidden
}

#navbar{
    /* background-color: #aaa; */
    border-top: solid 2px #eee;
    margin-top: 2rem;
    padding: 1rem 0;
    max-width: 80rem;
}

#navbar a {
    text-decoration: none;
    color: #424242;
    padding: 1rem;
}

#navbar a:hover {
    background-color: #eee;
    color: #000
}

.container {
    max-width: 40rem;
    padding: 0 2rem;
    margin: auto;
}

ul#pics-container {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    width: 100%;
    padding: 0;
    margin:0;
    list-style: none;
}

li.pic-container {
    flex-grow: 1;
    height: 30vh;
    max-width: 50vw;
}

img {
    height: 100%;
    width: 100%;
    max-height: 100%;
    max-width: 100%;
}

.pic-container img {
    object-fit: cover;
}

#modal img {
    border-radius: 1rem;
    object-fit: contain;
}

li.blank {
    flex-grow: 10;
}

#modal {
    transition: height 0ms 600ms, opacity 400ms 0ms;
    opacity: 0;
    height: 0;
    overflow: hidden;
    position: fixed;
    z-index: 1;
    padding: 2rem 1rem;
    left: 0;
    top: 0;
    width: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-content: center;
}

#modal.active {
    height: 100%;
    opacity: 1;
    transition: height 0ms 0ms, opacity 600ms 0ms;
}

#modal button {
    position: absolute;
    top: 3rem;
    right: 2rem;
    font-size: 2rem;
    background-color: transparent;
    cursor: pointer;
    text-decoration: none;
    color: white;
    outline: none;
    border: none;
}

#modal button:hover,
#modal button:focus {
    color: #bbb;
}

.pointer {
    cursor: pointer;
}

form {
    margin: 2rem 1rem;
    padding: 1rem;
    border: 1px solid white;
    border-radius: 0.2rem;
}

form div {
    margin: 1rem;
    display: flex;
    flex-wrap: wrap;
}

input,
textarea {
    font-family: 'Eagle Lake', serif;
    flex-grow: 1;
}

form textarea {
    min-height: 5rem;
}

form label {
    display: inline-block;
    width: 5rem;
    vertical-align: top;
}

form button {
    margin: 1rem 0 -0.5rem auto;
}

.hidden {
    height: 0;
    overflow: hidden;
}

height: 0;
overflow: hidden;

}