---
layout: layout.pug
title: Florence Ceramics | Contact
description: Contact Details and form
image: img/4c54dd9b-600.jpeg
url: https://florenceceramics.co.uk/contact
---

div.container
    h2 Contact 

    div Email at: _______

    form(name="contact" netlify-honeypot="bot-field" method="POST" data-netlify="true")
      p.hidden
        label(for="bot-field") Don’t fill this out if you’re human:
        input(id name="bot-field")
        
        div
            label(for="name") Name 
            input(type="text" id="name" name="name" required)
        
        div
            label(for="email") Email 
            input(type="email" id="email" name="email" required)
        
        div
            label(for="message") Message 
            textarea(id="message" name="message" required)
        div 
            button(type="submit") Send
