---
layout: "layout.pug"
---

header
    h1 Florence Ceramics
    div !{helpers.image("assets/img/logo.png", "Florence Ceramics")}
    p Ceramicist making pieces for the everyday 🌻

main
    p="Images"