---
layout: "layout.pug"
---
div#modal(role="dialog" aria-modal="true" onClick="closeModal(event)")
    button(onClick="closeModal()") &times;
    img(alt="")

ul#pics-container
    each pic in collections.pics
        li.pic-container.pointer("role"="button" tabindex=0 onClick="openModal(event, this.firstChild)" onKeyDown="openModal(event, this.firstChild)").
            !{helpers.image(pic.src, pic.alt, true)}
    li.blank

script
    include js/modals.js